.datagrid-container {
border:1px solid #ccc;
border-top-color:#99a5ac;
font-size:12px;
background:#FFFFFF;
}
.datagrid-title {
  font-weight: bold;
  color: #0E2D5F;
  height: 16px;
  line-height: 16px;
  padding:5px;
  position:relative;
  border-bottom:1px solid #95B8E7;
  
  background-color: #E0ECFF;
 
}
.datagrid-view {
 position:relative; overflow:hidden;
}
.datagrid-view1 {
 position: absolute; overflow:hidden; top:0px; left:0px;
}
.datagrid-view2 {
 position: absolute; overflow:hidden; top:0px; right:0px;
}
.datagrid-toolbar {
background-color: #efefef;
  
}
.datagrid-row-view1 td {
  background-color: #efefef;
 
}
.datagrid-header{
  background-color: #efefef;
  
}
.datagrid-header td,.datagrid-body td,.datagrid-footer td{
  border-color: #ccc;
  border-width: 0 1px 1px 0;
  border-style: solid;
  margin: 0;
  padding: 0;
}
.datagrid-cell-rownumber{
  margin: 0;
  padding: 0 4px;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  font-weight: normal;
  font-size: 12px;
  cursor:default;
}
.datagrid-header-row,
.datagrid-row {
  height: 29px;
}
.datagrid-header-row {

}
.datagrid-header-row td {
  /*position:relative;*/
}
.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
  background: #eaf2ff;
  color: #000000;
  cursor: default;
}
.datagrid-row-selected {
  background: #FBEC88;
  color: #000000;
}
.datagrid-view1 .datagrid-btable { width:100%;}
.datagrid-group-row-view1 { cursor:pointer;}
.datagrid-group-row-view1,
.datagrid-group-row{
	width:100%;
	background:#FFF;
}
.datagrid-group-cell-rownumber { background:url('../images/datagrid_icons.png') no-repeat -32px center; width:16px; height:16px; margin:0px auto;}
.datagrid-group-cell-rownumber-select { background:url('../images/datagrid_icons.png') no-repeat -48px center;}
.datagrid-group-row-view1 td,.datagrid-group-row td {
border:none;
border-bottom:1px solid #ccc;	
}
.datagrid-group-cell {
  margin: 0;
  padding: 0 4px;
  height: 25px;
  line-height: 25px;
  font-weight: normal;
  font-size: 12px;
}
.datagrid-group-cell:hover {
 }
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
  margin: 0;
  padding: 0 4px;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  font-weight: normal;
  font-size: 12px;
}
.datagrid-cell {
/*position:relative;*/
}
.datagrid-header-inner {
  float: left;
  width: 10000px;
}
.datagrid-header {
height:28px;
  overflow: hidden;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #bac7cb;
}
.datagrid-header .datagrid-header-wrap { position:relative; width:100%;}
.datagrid-body {
  margin: 0;
  padding: 0;
  overflow: auto;
  zoom: 1;
}
.datagrid-footer {
	margin: 0;
  padding: 0;
  }
.datagrid-sort-icon {
  padding: 0;
}
.datagrid-sort-desc .datagrid-sort-icon {
  padding: 0 13px 0 0;
  background: url('../images/datagrid_icons.png') no-repeat -16px center;
}
.datagrid-sort-asc .datagrid-sort-icon {
  padding: 0 13px 0 0;
  background: url('../images/datagrid_icons.png') no-repeat 0px center;
}
/*pager*/

.datagrid-pager {
  margin: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  height: 30px;
   border-color: #dddddd;
    background: #F4F4F4;
}
.pagination {
  zoom: 1;
}
.pagination table {
  float: left;
  height: 30px;
}
.pagination-page-list,
.pagination .pagination-num {
  border-color: #95B8E7;
}
.pagination-page-list {
  margin: 0px 6px;
  padding: 1px 2px;
  width: auto;
  height: auto;
  border-width: 1px;
  border-style: solid;
}
.pagination-btn-separator {
  float: left;
  height: 24px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #fff;
  margin: 3px 1px;
}
.pagination .pagination-num {
  border-width: 1px;
  border-style: solid;
  margin: 0 2px;
  padding: 2px;
  width: 2em;
  height: auto;
}
.p-plain{padding: 4px 6px 4px 6px; display:inline-block; cursor:pointer;}
.p-plain:hover {
	background: #eaf2ff;
  color: #000000;
  border: 1px solid #b7d2ff;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 3px 5px 3px 5px;
 }
 .p-btn-disabled {
 cursor:default;
 opacity: 0.5;
  filter: alpha(opacity=50);
  }
 .p-btn{width:16px; height:16px; line-height:16px;display:inline-block; }
.pagination-first {
  background: url('../images/pagination_icons.png') no-repeat 0 0;
}
.pagination-prev {
  background: url('../images/pagination_icons.png') no-repeat -16px 0;
}
.pagination-next {
  background: url('../images/pagination_icons.png') no-repeat -32px 0;
}
.pagination-last {
  background: url('../images/pagination_icons.png') no-repeat -48px 0;
}
.pagination-load {
  background: url('../images/pagination_icons.png') no-repeat -64px 0;
}
.pagination-info {
  float: right;
  margin: 0 6px 0 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
/*mask*/
.datagrid-mask {
  background: #ccc;
}
.datagrid-mask-msg {
  border-color: #95B8E7;
}
.datagrid-mask-msg {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding: 12px 5px 10px 30px;
  width: auto;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  display: none;
}
.datagrid-mask-msg {
  background: #ffffff url('../images/loading.gif') no-repeat scroll 5px center;
  z-index:9999;
}
.datagrid-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: alpha(opacity=30);
  display: none;
  z-index:9998;
}
.datagrid-resize { cursor:col-resize;}
.datagrid_resize{ position:absolute; right:0px; width:4px; cursor:col-resize; height:100%; top:0px; z-index:100; background:url(../images/spacer.gif) repeat;}